.slider-container {
    width: 100%;
    max-width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.lightbox-content {
    max-width: 70%;
    max-height: 70%;
}

.lightbox-content img,
.lightbox-content video {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.close-lightbox {
    position: absolute;
    top: 70px;
    right: 160px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

.slider {
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: transform 0.5s ease-in-out; */
    position: relative;
}

.slider.fade {
    display: block;
    position: relative;
}

.slider.fade .slider-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 0;
}

.slider.fade .slider-element.visible {
    opacity: 1;
    z-index: 1;
}
.slider-element {
    flex: 0 0 20%; 
    position: relative;
    overflow: hidden;
}


.slider-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    bottom: 20px;
    width: 100%;
    z-index: 10;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: red;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: 0.3s ease;
}

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.8);
}

.prev { left: 10px; }
.next { right: 10px; }

.slider-container.paused::before {
    content: "PAUZA";
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 10;
}